name: pnpm-up

on:
  schedule:
    - cron: "15 9 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: create-github-app-token
        with:
          app-id: ${{ vars.CYSPBOT_APP_ID }}
          private-key: ${{ secrets.CYSPBOT_PRIVATE_KEY }}

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - run: pnpm up -r

      - run: pnpm dedupe

      - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ steps.create-github-app-token.outputs.token }}
          commit-message: "chore(deps): bump transitive dependencies"
          title: "chore(deps): bump transitive dependencies"
          body: ""
          branch: "deps/pnpm-up"
          sign-commits: true
